
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Calibri">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  <title>Digital Polymer</title>

</head>
<body>

  <div class="container">
    <div style="background:transparent !important" class="jumbotron">
      <div style="font-family: 'Calibri'">
        <p>
          <center>
          <font size="8">Search for non-metallics data</font>
          </center>
        </p>
      </div>
    </div>

    <form action="/search/" method="post">
      <div class="input-group">
        <input type="text" class="form-control input-lg" name="input" placeholder = "" autofocus>
        <div class="input-group-btn">
          <button class="btn btn-primary btn-lg" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

</body>
</html>
